{% extends "default.html" %}

{% set pageTitle = "Sidebar Not Fixed" %}
{% set layout = "" %}

{% block sidebar %}
    <nav class="sidebar">
        <div class="sidebar-wrapper">
            <div class="sidebar-header">
                <a href="{{ 'index.html'|page }}" class="sidebar-brand">
                    <img src="{{ 'logo/logo.png'|images }}" alt="{{ app.name }}" height="32">
                </a>
            </div>
            <div class="d-flex flex-column justify-content-between flex-fill">
                <ul class="sidebar-menu">
                    {% set sidebarCurrentLoopItems = sidebarMenuItems %}
                    {% set i = 0 %}
                    {% include "generator/sidebar-items.html" %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    {% for item in range(0, 30) %}
        <h1>Layout / Sidebar Not Fixed</h1>
    {% endfor %}
{% endblock %}