/*!
 *   Bootsarc - v1.0.0
 *   Author: viandwi24
 *   Website: https://viandwi24.github.io/bootsarc
 *   License: Open source - MIT <https://opensource.org/licenses/MIT>
 */

//  bootstrap tools
@import "./bootstrap/functions";

// variables
@import "./variables";
// animation
$animation-gradient-time: 10s;
// main

// sidebar
$sidebar-wrapper-width: 270px;
$sidebar-wrapper-background-color: white;
$sidebar-item-color: $gray-600;
$sidebar-item-background-color: transparent;
$sidebar-item-hover-background-color: rgba($color: $gray-200, $alpha: 0.75);
$sidebar-item-submenu-open-background-color: $sidebar-item-hover-background-color;
// $sidebar-item-active-background-color: linear-gradient(90deg, rgba(89,153,252,1) 0%, rgba(83,148,250,1) 35%, rgba(128,181,255,1) 100%);
$sidebar-item-active-background-color: $primary;
$sidebar-item-active-background-size: 400% 400%;
$sidebar-item-active-secondary-background-color: $secondary;
$sidebar-item-active-background-gradient-direction: 270deg;
$sidebar-item-active-background-gradient-time: $animation-gradient-time;
$sidebar-item-active-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.3);
$sidebar-item-active-color: $white;
// main
$main-margin: 0px 0px 0px $sidebar-wrapper-width;
$main-padding: 2rem 2rem;

// components
@import "./components/main";
@import "./components/icons";
@import "./components/sidebar";
@import "./components/page";

// utilities
@mixin create-rotate($deg: 0) {
  transform: rotate(#{$deg}deg);
}
$rotates: 90, 180, 270, 360, -90, -180, -270, -360;
@each $rotate in $rotates {
  .rotate-#{$rotate} {
    @include create-rotate($rotate);
  }
}