$featherSizes: (
  12,
  14,
  16,
  18,
  20,
  24,
  32,
  48,
  64,
  96,
  128,
  256,
  512,
);

// for
@each $size in $featherSizes {
  .feather-#{$size} {
    width: #{$size}px;
    height: #{$size}px;
  }
}