/**
 * MAIN
 */
// mixin
@import "../mixins/scrollbar";
// base
body {
  // scrollbar
  @include scrollbar;
  
  // layout - default
  .app {
    display: flex;
    .main {
      padding: $main-padding;
      flex: 1 1 auto;
    }
  }

  // layout - sidebar fixed
  &.sidebar-fixed {
    .app {
      .main {
        margin: $main-margin;
        padding: $main-padding;
      }
    }
  }
}