// mixins
@import "./../mixins/gradient";
// componets
.page-header {
  margin-bottom: 1rem;
  .page-title {
    color: $dark;
    font-weight: $font-weight-medium;
    @include font-size($font-size-2xl);
  }
  .page-search {
    .input-group {
      button {
        @include border-radius($border-radius-lg);
      }
    }
  }
}