/**
 * SIDEBAR
 */
// mixin
@import "../mixins/scrollbar";
@import "../mixins/gradient";
// components
.sidebar {
  & > .sidebar-wrapper {
    background-color: $sidebar-wrapper-background-color;
    width: $sidebar-wrapper-width;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;

    // header
    .sidebar-header {
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      margin: 1rem 0;
      .sidebar-brand {
        display: flex;
        align-items: center;
        justify-content: center;
        @include font-size($font-size-xl);
        font-weight: bold;
        img {
          max-width: 100%;
        }
        span {
          margin-left: .5rem;
        }
        text-decoration: none;
        &:hover {
          text-decoration: none;
          background-color: inherit;
        }
      }
    }

    // menu
    .sidebar-menu {
      display: block;
      padding: .25rem 1rem;
      margin: 0;
      * {
        &::marker {
          display: none;
        }
      }
      .sidebar-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.25rem 0;
        overflow: hidden;
        position: relative;
        & > .sidebar-link {
          transition: all .3s ease;
          display: flex;
          align-items: center;
          align-content: center;
          width: 100%;
          padding: 0.7rem 1rem;
          text-decoration: none;
          color: $sidebar-item-color;
          background-color: $sidebar-item-background-color;
          border-radius: 0.75rem;
          & > .icon {
            &.feather {
              width: 1.1rem;
              height: 1.1rem;
            }
          }
          & > span {
            margin-left: .5rem;
          }
          &:hover {
            background-color: $sidebar-item-hover-background-color;
          }
        }
        &.active {
          & > .sidebar-link {
            @include bg-gradient(
              $sidebar-item-active-background-color,
              $sidebar-item-active-secondary-background-color,
              $sidebar-item-active-background-gradient-direction,
              $sidebar-item-active-background-gradient-time,
              $sidebar-item-active-background-size
            );
            box-shadow: $sidebar-item-active-box-shadow;
            color: $sidebar-item-active-color;
          }
        }
        &.has-submenu {
          & > .sidebar-link {
            position: relative;
            &::after {
              transition: all .3s ease-out;
              color: $sidebar-item-color;
              content: '';
              background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 18L9 12L15 6' stroke='%23636A71' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
              display: block;
              position: absolute;
              right: .75rem;
              width: 20px;
              height: 20px;
            }
          }
        }
        & > .sidebar-submenu {
          display: none;
          padding: 0;
          margin: 0;
          width: 100%;
        }
        &.submenu-open {
          & > .sidebar-link {
            background-color: $sidebar-item-submenu-open-background-color;
            &::after {
              transform: rotate(-90deg);
            }
          }
          & > .sidebar-submenu {
            display: block;
          }
        }
        &:last-child{
          margin-bottom: 0;
        }
      }
      & > .sidebar-item-header {
        color: $gray-700;
        display: flex;
        align-items: center;
        padding: 1.2rem 1rem 0 1rem;
      }
    }
  }
}
// base
body.sidebar-fixed {
  .sidebar {
    .sidebar-wrapper {
      position: fixed;
      overflow-y: auto;
      height: 100vh;

      // scrollbar
      @include scrollbar;
    }
    .sidebar-max-height {
      max-height: 100%;
      overflow-y: hidden;
    }
  }
}
// variants
.sidebar {
  &.scroll-only-menu {
    .sidebar-wrapper {
      overflow: hidden;
      .sidebar-menu {
        object-fit: contain;
        height: 100%;
        overflow-y: auto;
        @include scrollbar;
      }
    }
  }
}
// extra
.sidebar {
  & > .sidebar-wrapper {
    .sidebar-avatar-box {
      padding: 1.2rem;      
      & > .sidebar-avatar-box__wrapper {
        position: relative;
        border-radius: 10px;
        padding: .75rem 1rem;
        background-color: $sidebar-item-submenu-open-background-color;
        display: flex;
        flex-direction: row;
        align-items: center;

        .sidebar-avatar-box__user-wrapper {
          padding-left: .5rem;
          flex: 1 1 auto;
          .sidebar-avatar-box__user__name {
            @include font-size($font-size-sm);
          }
          .sidebar-avatar-box__user__email {
            @include font-size($font-size-xs);
            color: $text-muted;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
}
// animation
@-webkit-keyframes sidebar-item {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes sidebar-item {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes sidebar-item {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
