$sidebar-z-index: 10;
$sidebar-box-shadow: 0 0 0 1px rgba(0,0,0,.05), 0 2px 4px rgba(0,0,0,.1);

$sidebar-header-height: 4.6rem;
$sidebar-brand-color: $gray-800;
$sidebar-brand-icon-width: 42px;

$sidebar-item-header-color: $gray-800;

$sidebar-collapse-btn-z-index: 11;
$sidebar-collapse-btn-box-shadow: 0 2px 10px rgba($black, .20);
$sidebar-collapse-wrapper-width: 80px;

// wrapper
.sidebar {
  z-index: $sidebar-z-index;
  .sidebar-wrapper {
    position: fixed;
    background-color: $sidebar-wrapper-background-color;
    width: $sidebar-wrapper-width;
    height: 100vh;
    box-shadow: $sidebar-box-shadow;

    .sidebar-content {
      height: calc(100vh - (#{$sidebar-header-height} + 1px));
    }
  }
}

// sidebar header
.sidebar {
  .sidebar-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: $sidebar-header-height;
    max-height: $sidebar-header-height;
    .sidebar-brand {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1.3rem;
      color: $sidebar-brand-color;
      font-weight: bold;
      @include font-size($font-size-xl);
      img {
        max-width: 100%;
      }
      span {
        flex: 1 1 0%;
        text-align: center;
        margin-left: .5rem;
        padding-right: calc(#{$sidebar-brand-icon-width} + .5rem);
      }
      text-decoration: none;
      &:hover {
        text-decoration: none;
        color: $sidebar-brand-color;
      }
    }
  }
}

// nav menu - item
.sidebar {
  // menu list
  ul.sidebar-menu, ul.sidebar-submenu {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
    list-style: none;
    padding: 0.7rem 1rem;
  }

  // 
  ul.sidebar-submenu {
    padding: 0;
    margin: 0;
  }

  // list header
  .sidebar-item-header {
    color: $sidebar-item-header-color;
    display: flex;
    align-items: center;
    padding: 1.2rem 1rem 0 1rem;
    margin-bottom: 0.35rem;
  }
}

// LIST ITEM
.sidebar {
  .sidebar-item {
    overflow: hidden;

    a.sidebar-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $sidebar-item-color;
      background-color: $sidebar-item-background-color;
      border-radius: 0.75rem;
      padding: 0.7rem 1rem;
      margin-bottom: 0.25rem;

      // item - icon
      & > .icon {
        &.bi {
          padding-left: .1rem;
          align-self: center; 
          display: flex;
          align-items: center;
          align-content: center;
        }
        &.feather {
          width: 1.1rem;
          height: 1.1rem;
        }
      }
      // item - text
      & > span {
        margin-left: .5rem;
      }
      
      &:hover {
        background-color: $sidebar-item-hover-background-color;
      }
    }

    // 
    &.active {
      & > .sidebar-link {
        // @include bg-gradient(
        //   $sidebar-item-active-background-color,
        //   $sidebar-item-active-secondary-background-color,
        //   $sidebar-item-active-background-gradient-direction,
        //   $sidebar-item-active-background-gradient-time,
        //   $sidebar-item-active-background-size
        // );
        box-shadow: $sidebar-item-active-box-shadow;
        color: $sidebar-item-active-color;
        background-color: $sidebar-item-active-background-color;
        &:hover {
          background-color: $sidebar-item-active-background-color;
        }
      }
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
}

// LIST ITEM - SUB MENU
.sidebar {
  .sidebar-item {
    &.has-submenu {
      & > .sidebar-link {
        position: relative;
        &::after {
          font-style: normal;
          font-weight: 700;
          font-display: block;
          font-family: "Font Awesome 5 Free";
          content: "\f053";
          transition: all .3s ease-out;
          color: $sidebar-item-color;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          right: .75rem;
          width: 20px;
          height: 20px;
        }
      }
    }
    // 
    .sidebar-submenu {
      display: none;
      padding: 0;
      margin: 0;
      width: 100%;
    }
    &.submenu-open {
      & > .sidebar-link {
        background-color: $sidebar-item-submenu-open-background-color;
        &::after {
          transform: rotate(-90deg);
        }
      }
      & > .sidebar-submenu {
        display: block;
      }
    }
    &.submenu-active {
      & > .sidebar-link {
        background-color: $sidebar-item-submenu-open-background-color;
      }
    }
  }
}

// Sidebar Collapse Button
.sidebar {
  // toggle
  .sidebar-collapse-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    z-index: $sidebar-collapse-btn-z-index;
    right: -.75rem;
    top: 1.5rem;
    background-color: $sidebar-wrapper-background-color;
    outline: 0;
    border: 0;
    box-shadow: $sidebar-collapse-btn-box-shadow;
    color: $black;
    @include font-size($font-size-xs);
    @include border-radius($border-radius-pill);
    padding: .52rem .65rem;
  }
}

// Sidebar on Collapsed
.sidebar.sidebar-collapse > .sidebar-wrapper {
  width: $sidebar-collapse-wrapper-width;

  // 
  .sidebar-brand {
    padding: 0 1.1rem;
  }

  .sidebar-collapse-btn {
    i {
      transform: rotate(180deg);
    }
  }
  .sidebar-item {
    & > .sidebar-link {
      span {
        display: none;
      }
    }
    &.has-submenu {
      & > .sidebar-link {
        position: relative;
        &::after {
          display: none;
        }
      }
    }
  }
  .sidebar-item-header {
    display: none;
  }
  .sidebar-header {
    .sidebar-brand {
      span {
        display: none;
      }
    }
  }
  & > .sidebar-content {
    justify-content: center;
    align-items: center;
    .sidebar-item-header {
      display: none;
    }
  }
}
body.sidebar-collapsed {
  .app {
    .main {
      margin: 0;
      margin-left: 5rem;
      padding: $main-padding;
    }
  }
}

// responsive
@include media-breakpoint-down(md) {
  .sidebar {
    display: none;
  }
}