@mixin bg-gradient($color1, $color2, $direction, $time, $size) {
  background: linear-gradient($direction, $color2, $color1);
  background-size: $size;
  animation: sidebar-item $time ease-in infinite;
}
@mixin text-gradient($color1, $color2, $direction, $time, $size, $color: color-contrast($body-bg)) {
  @include bg-gradient($primary, $secondary, $direction, $time, $size);
  color: $color;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}