<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ app.name }}</title>
    <!-- styles -->
    <link rel="stylesheet" href="{{ 'css/bootsarc.bootstrap.css'|dist }}">
    <!-- fonts & icons -->
    <link rel="stylesheet" href="{{ 'bootstrap-icons/bootstrap-icons.css'|vendor }}">
    <link rel="stylesheet" href="{{ 'fontawesome/css/all.min.css'|vendor }}">
</head>
<body class="auto-init {% if layout %}{{ layout }}{% endif %}">
    <div id="app" class="app">
        {% block sidebar %}
            {% include "sidebar-default.html" %}
        {% endblock %}
        <main class="main">
            <div class="container-fluid">
                {% block content %}{% endblock %}
            </div>
        </main>
    </div>

    <!-- fonts & icons -->
    <script src="{{ 'feather-icons/dist/feather.min.js'|vendor }}"></script>
    <!-- scripts -->
    <script src="{{ 'bootstrap/dist/js/bootstrap.min.js'|vendor }}"></script>
    {# <script src="{{ 'js/bootsarc.bootstrap.js'|dist }}"></script> #}
    <script src="{{ 'js/bootsarc.js'|dist }}"></script>
</body>
</html>