<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ app.name }}</title>
    <!-- styles -->
    <link rel="stylesheet" href="{{ 'css/bootsarc.bootstrap.css'|dist }}">
    <link rel="stylesheet" href="{{ 'css/bootsarc.css'|dist }}">
    <!-- fonts & icons -->
    <link rel="stylesheet" href="{{ 'bootstrap-icons/bootstrap-icons.css'|vendor }}">
</head>
<body class="auto-init sidebar-fixed">
    <div id="app">
        <nav class="sidebar sidebar-fixed">
            <div class="sidebar-wrapper">
                <div class="sidebar-header">
                    <a href="{{ 'index.html'|page }}" class="sidebar-brand">
                        <img src="{{ 'logo/logo.png'|images }}" alt="{{ app.name }}" height="30">
                    </a>
                </div>
                <ul class="sidebar-menu">
                    {% set sidebarCurrentLoopItems = sidebarMenuItems %}
                    {% set i = 0 %}
                    {% include "generator/sidebar-items.html" %}
                </ul>
            </div>
        </nav>
        <main class="main">
            <div>
                <a href="/pages/index.html">home</a>
                <a href="/pages/components/button.html">button</a>
            </div>
            {% block content %}{% endblock %}
        </main>
    </div>

    <!-- fonts & icons -->
    <script src="{{ 'feather-icons/dist/feather.min.js'|vendor }}"></script>
    {# <script>feather.replace()</script> #}
    <!-- scripts -->
    <script src="{{ 'js/bootsarc.bootstrap.js'|dist }}"></script>
    <script src="{{ 'js/bootsarc.js'|dist }}"></script>
</body>
</html>